<header class="site-header">
    <div class="header-background">
        <h1>Manon &amp; Jean-Marie</h1>
    </div>
    <br/>
    <div class="navigation-menu">
        <a class="button" href="{{ path('default_engagement') }}">Nos fiançailles</a>
        <a class="button" href="{{ path('default_civil_marriage') }}">Mariage civil</a>
        <a class="button" href="{{ path('default_nuptial_mass') }}">Messe de mariage</a>
        <a class="button" href="{{ path('default_reception') }}">La réception</a>
        <a class="button" href="{{ path('default_wedding_list') }}">Liste de mariage</a>
        <a class="button">Covoiturage</a>
    </div>
    <br/>
</header>
