{% extends 'base.html.twig' %}

{% form_theme form _self %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <label>{{ child.vars.label }}
                {#{{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}#}
                {{- form_widget(child) -}}
            </label>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block content %}
    <div class="wrapper">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Poster"
               class="button button-primary" />
        {{ form_end(form) }}
    </div>
{% endblock %}
