{% extends 'base.html.twig' %}

{% form_theme form _self %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <label>{{ child.vars.label }}
                {{- form_widget(child) -}}
            </label>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{% block content %}
    <div class="wrapper">
        <p>{{ topic.author }} a fait
            une {{ topic.offerOrRequest is constant('AppBundle\\Entity\\CarpoolingTopic::CARPOOLING_OFFER') ? 'proposition' : 'demande' }}
            de covoiturage le {{ topic.postedAt|date('d/m/Y', timezone='Europe/Paris') }}
            à {{ topic.postedAt|date('H:i', timezone='Europe/Paris') }}.</p>
        <ul>
            {% for message in topic.messages %}
            <li>{{ message.author }} a dit {{ message.content }} le {{ message.postedAt|date('d/m/Y', timezone='Europe/Paris') }}</li>
            {% endfor %}
        </ul>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Poster"
               class="button button-primary" />
        {{ form_end(form) }}
    </div>
{% endblock %}
