{% extends 'base.html.twig' %}

{% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <img class="photo" src="{{ asset('images/nuptialMass.jpg') }}">
                </div>
            </div>
        </div>
        <p>Nous aurons la joie de vivre le sacrement du mariage à 15h00 à l’église Saint Michel dans le village de
            Puimoisson (Alpes côtes d’azur, 04).</p>
        <p>Cette célébration correspond pour nous à l’accomplissement d’un cheminement à deux mais aussi signe le début
            d’une longue aventure et le fondement d’une nouvelle famille ! C’est l’occasion d’officialiser notre amour,
            de le célébrer mais aussi, et surtout, de demander à Dieu de bénir notre union !</p>
        <p>Le lieu choisi n’est pas anodin : c’est dans le village de Puimoisson que se trouve en effet la résidence
            secondaire des Poinssot ... et une grande partie du coeur de Manon ! A 1h30 au Sud­Est se trouve le petit
            village provençal de Claviers dont la famille Ravel est originaire depuis plusieurs générations !</p>
        <p>Ce sacrement revêt une grande importance pour nous et nous avons envie que vous participiez ! Musiciens et
            chanteurs, n’hésitez pas à vous manifester... et nous comptons sur votre prière à tous !</p>
        <p>Et comme la liturgie est nettement plus vivante en groupe, voilà les chants que nous avons choisis ! Cela
            vous permettra de vous familiariser avec certains chants... voire d’apprendre des secondes voix ! Nous
            organiserons une répétition (détails à préciser !)</p>
        <h1>Déroulé de la messe</h1>
        <ul class="no-bullet-points">
            <li>Chant d’entrée : Je bénis le seigneur mon berger (<a target="_blank" href="{{ asset("pdf/je_benis_le_seigneur_mon_berger.pdf") }}">partition</a>)</li>
            <li>Kyrie : Saint Paul (<a target="_blank" href="{{ asset("pdf/messe_de_saint_paul.pdf") }}">partition</a>)</li>
            <li>Gloria : Richard (<a target="_blank" href="{{ asset("pdf/gloire_a_dieu_richard.pdf") }}">partition</a>)</li>
            <li>Alléluia : Messe de Saint Boniface</li>
            <li>Chant à l’Esprit Saint : Gloire à Toi, Esprit de Feu</li>
            <li>Chant d’action de grâce : Laudate Dominum (<a target="_blank" href="{{ asset("pdf/laudate_dominum_taize.pdf") }}">partition</a>)</li>
            <li>Prière universelle : Ô Marie prends nos prières (<a target="_blank" href="{{ asset("pdf/o_marie_prends_nos_prieres.pdf") }}">partition</a>)</li>
            <li>Offertoire : Voici le serviteur (<a target="_blank" href="{{ asset("pdf/voici_le_serviteur.pdf") }}">partition</a>)</li>
            <li>Sanctus : Saint Paul (<a target="_blank" href="{{ asset("pdf/messe_de_saint_paul.pdf") }}">partition</a>)</li>
            <li>Anamnèse : Saint Paul (<a target="_blank" href="{{ asset("pdf/messe_de_saint_paul.pdf") }}">partition</a>)</li>
            <li>Notre Père : dit</li>
            <li>Bénédiction nuptiale : Pour tes merveilles ! (<a target="_blank" href="{{ asset("pdf/pour_tes_merveilles.pdf") }}">partition</a>)</li>
            <li>Agnus : Saint Paul (<a target="_blank" href="{{ asset("pdf/messe_de_saint_paul.pdf") }}">partition</a>)</li>
            <li>Communion : Je suis ton Dieu, ton Créateur (<a target="_blank" href="{{ asset("pdf/je_suis_ton_dieu_ton_createur.pdf") }}">partition</a>)</li>
            <li>Consécration à Marie : Regarde l’étoile (<a target="_blank" href="{{ asset("pdf/regarde_l_etoile.pdf") }}">partition</a>)</li>
            <li>Envoi : Alleluia, Jubilate (<a target="_blank" href="{{ asset("pdf/alleluia_jubilate.pdf") }}">partition</a>)</li>
        </ul>
    </div>
{% endblock %}
